label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

label:first-child {
  margin-top: 0;
}

label:last-child {
  margin-bottom: 0;
}

input[type="radio"] {
  display: none;
}

.active-radio {
  background-color: #000;
  color: #fff;
}
