.director-info-list--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 5% auto 0;
}

.director-info-list-img {
  width: 50%;
  margin: 2%;
}

.director-info-list-img img {
  width: 70%;
}

.director-info-list-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3%;
  padding: 4%;
}
