.container-list-directors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.container-card-directors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-card-directors img {
  width: 70%;
  margin: 25px 0;
}

.name-card-director {
  width: 80%;
  padding: 10px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.search-list-directors {
  margin-top: 25px;
}

.search-list-directors input {
  border: solid #000 2px;
  padding: 1% 2%;
}
