.main-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


::-webkit-scrollbar{
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: #000;
}

::-webkit-scrollbar-track {
  border-left: 1px solid #000;
}
