li {
  list-style: none;
  height: 100%;
  width: 50%;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-family: 'Open Sans';
}

li a:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 0 #000;
}
.active {
  width: 75%;
}

.not-active {
  width: 25%;
  background-color: #000;
}

.not-active a {
  color: #fff;
}
