@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/OpenSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fff;
  font-family: 'Open Sans';
  color: #000;
}
